{{define "common/admin_nav"}}
<div class="navbar">
  <div class="ui container">
    <div class="ui secondary menu">
      <a href="/admin/" class="item">
        <img src="/static/assets/favicon.png" /> &nbsp;&nbsp;
      </a>
      <a href="users" class="item">用户管理</a>
      <div class="ui right dropdown item">
        {{.user.Username}} <i class="dropdown icon"></i>
        <div class="menu">
          <a href="/" class="item">个人中心</a>
          <a href="/admin" class="item">管理中心</a>
          <a href="/logout" class="item">登出</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".ui.dropdown").dropdown()
</script>
{{ end }}