{{define "common/header"}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <title>{{.title}}</title>

  <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="/static/assets/nb.css" />
  <script src="https://cdnjs.loli.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.loli.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="/static/assets/favicon.png" />
  <link rel="shortcut icon" type="image/png" href="/static/assets/favicon.png" />
</head>

<body>
  <noscript>This website works better with JavaScript</noscript>
  {{ end }}