{{define "user/index"}}
{{template "common/header" .}}
{{template "common/user_nav" .}}
<div class="ui container segment clear-shadow-and-border">
  <div class="ui stackable grid">
    <div class="five wide column">
      <div class="ui card">
        <div class="image"><img src="{{if .user.Avatar}}/upload/avatar/{{.user.ID}}{{else}}/static/assets/favicon.png{{end}}" /></div>
        <div class="content">
          <a class="header">{{.user.Username}}</a>
          <div class="meta"><span class="date">{{.user.CreatedAt}} 加入</span></div>
          <div class="description">
            {{if .user.Bio}}{{.user.Bio}}{{else}}这么懒的吗？留个简介呗。{{end}}
          </div>
        </div>
        <div class="ui bottom attached button" onclick="showModal('#editProfile')"><i class="edit icon"></i> 修改资料
        </div>
        <div id="editProfile" class="ui modal">
          <div class="header">
            <i class="edit icon"></i>
            修改资料
          </div>
          <div class="content">
            <form id="editProfileForm" class="ui form">
              <div class="inline field">
                <label>头像</label>
                <input name="avatar" type="file">
              </div>
              <div class="inline field">
                <label>用户名</label>
                <input name="username" type="text" value="{{.user.Username}}" placeholder="英文或数字">
              </div>
              <div class="inline field">
                <label>简介</label>
                <input name="bio" type="text" autocomplete="nickname" value="{{.user.Bio}}">
              </div>
              <div class="inline field">
                <label>新密码</label>
                <input name="password" type="password" autocomplete="new-password" placeholder="至少 6 位">
              </div>
              <div class="inline field">
                <label>确认密码</label>
                <input name="repassword" type="password" autocomplete="new-password" placeholder="确认密码">
              </div>
              <div class="ui error message"></div>
              <div class="ui message">
                <p>头像更新有缓存，请不要着急。</p>
              </div>
            </form>
          </div>
          <div class="actions">
            <div class="ui cancel button">
              <i class="remove icon"></i>
              取消
            </div>
            <div onclick="editProfile()" class="ui green button">
              <i class="checkmark icon"></i>
              保存
            </div>
          </div>
          </di>
        </div>
      </div>
    </div>
    <div class="eleven wide column">
      <div class="ui segment clear-shadow-and-border">
        <h1><i class="app store icon"></i>全站 OAuth 应用</h1>
        <div class="ui stackable four column grid">
          {{range $i,$v := .data.allapps}}
          <div class="column">
            <div class="ui small circular rotate reveal image">
              <img src="/upload/avatar/{{$v.ID}}" class="visible content" style="height:150px;width:150px;text-align: center">
              <div class="hidden content" style="height:150px;width:150px;padding-top: 55px;text-align: center">
                <a {{if eq $v.Ext.Status -1}} {{else}} class="ui green basic button" {{end}} {{if eq $v.Ext.Status -1}}
                  {{else}} href="{{$v.Ext.URL}}" target="_black" {{end}}>{{$v.Ext.Name}}{{if eq $v.Ext.Status -1}} <div class="ui image label">
                      <img src="/static/assets/favicon.png">已被禁用
                    </div>{{end}}</a>
                <p>{{$v.Ext.Desc}}</p>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
      <div class="ui segment clear-shadow-and-border">
        <h1><i class="app store icon"></i>我的 OAuth 应用</h1>
        <div class="ui stackable four column grid">
          {{range $i,$v := .data.apps}}
          <div class="column">
            <div class="ui small circular rotate reveal image">
              <img src="/upload/avatar/{{$v.ID}}" class="visible content" style="height:150px;width:150px;text-align: center">
              <div class="hidden content" style="height:150px;width:150px;padding-top: 55px;text-align: center">
                <button onclick="editApp({{$i}})" class="ui tiny green basic button">编辑</button>
                <button onclick="deleteApp({{$i}})" class="ui tiny red basic button">删除</button>
              </div>
            </div>
          </div>
          {{end}}
          <div class="column">
            <div id="editOauthApp" class="ui modal">
              <div class="header">
                <i class="edit icon"></i>
                Oauth2 应用
              </div>
              <div class="content">
                <form id="editOauthAppForm" class="ui form">
                  <input name="id" type="hidden">
                  <div class="inline field">
                    <label>圆图标</label>
                    <input name="avatar" type="file">
                  </div>
                  <div class="inline field">
                    <label>应用名</label>
                    <input name="name" type="text" value="">
                  </div>
                  <div class="inline field">
                    <label>简介</label>
                    <input name="desc" type="text" value="">
                  </div>
                  <div class="inline field">
                    <label>首页链接</label>
                    <input name="url" type="url" value="">
                  </div>
                  <div class="inline field">
                    <label>跳转链接</label>
                    <input name="redirect_uri" type="url">
                  </div>
                  <div class="inline field">
                    <label>密钥</label>
                    <input name="secret" readonly type="text" value="创建后显示">
                  </div>
                  <div class="ui error message"></div>
                  <div class="ui message">
                    <p>图标更新有缓存，请不要着急。</p>
                  </div>
                </form>
              </div>
              <div class="actions">
                <div class="ui cancel button">
                  <i class="remove icon"></i>
                  取消
                </div>
                <div onclick="editOauthApp()" class="ui green button">
                  <i class="checkmark icon"></i>
                  创建
                </div>
              </div>
              </di>
            </div>
            <div class="ui small circular rotate reveal image">
              <img src="/static/assets/favicon.png" class="visible content" style="height:150px;width:150px;">
              <div class="hidden content" style="height:150px;width:150px;padding-top: 55px;text-align: center">
                <button onclick="editApp(undefined)" class="ui green basic button">创建应用</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const apps = {{ .data.apps }};
  function editApp(index) {
    var inputs = {};
    const is = $('#editOauthApp input')
    for (let i = 0; i < is.length; i++) {
      const e = $(is[i]);
      switch (e.attr('name')) {
        case 'name':
          inputs['Name'] = e
          break;
        case 'id':
          inputs['ID'] = e
          break;
        case 'desc':
          inputs['Desc'] = e
          break;
        case 'url':
          inputs['URL'] = e
          break;
        case 'secret':
          inputs['Secret'] = e
          break;
        case 'redirect_uri':
          inputs['RedirectURI'] = e
          break;
      }
    }
    if (index !== undefined) {
      Object.keys(apps[index]).forEach((k) => {
        if (k == 'Ext') {
          inputs.Name.val(apps[index][k].name)
          inputs.URL.val(apps[index][k].url)
          inputs.Desc.val(apps[index][k].desc)
        } else {
          inputs[k].val(apps[index][k])
        }
      })
    } else {
      Object.keys(inputs).forEach((k) => {
        const e = inputs[k]
        e.val(e.attr('name') == 'secret' ? '创建后显示' : "")
      })
    }
    showModal('#editOauthApp')
  }
  function deleteApp(index) {
    $.ajax({
      url: "/app/" + apps[index].ID,
      type: 'DELETE',
      cache: false,
    }).done((res) => {
      window.location.reload()
    })
  }
  function showModal(modal) {
    setFormError(modal + 'Form')
    $(modal).modal('show')
  }
  // 设置表单错误
  function setFormError(ele, errors) {
    var fields = $(ele + ' .field');
    var map = {}
    for (let i = 0; i < fields.length; i++) {
      const element = fields[i];
      map[element.firstElementChild.textContent] = element
      if (!errors) {
        $(element).removeClass('error')
      }
    }
    if (errors) {
      $(ele).addClass('error')
      var errHtml = '<ul>';
      Object.keys(errors).forEach(k => {
        $(map[k.split('.')[1]]).addClass('error')
        errHtml += '<li>' + errors[k] + '</li>'
      });
      errHtml += '</ul>'
      $(ele + ' .ui.error.message').html('<div class="header">您的输入不规范</div>' + errHtml)
    } else {
      $(ele).removeClass('error')
      $(ele + ' .ui.error.message').html('')
    }
  }
  function editProfile() {
    $('#editProfileForm').addClass("loading")
    $.ajax({
      url: '/',
      type: 'PATCH',
      cache: false,
      data: new FormData($('#editProfileForm')[0]),
      processData: false,
      contentType: false
    }).done((res) => {
      window.location.reload()
    }).fail((res) => {
      setFormError('#editProfileForm', res.responseJSON)
    }).always(() => {
      $('#editProfileForm').removeClass("loading")
    })
  }
  function editOauthApp() {
    $('#editOauthAppForm').addClass("loading")
    $.ajax({
      url: '/app',
      type: 'POST',
      cache: false,
      data: new FormData($('#editOauthAppForm')[0]),
      processData: false,
      contentType: false
    }).done((res) => {
      window.location.reload()
    }).fail((res) => {
      setFormError('#editOauthAppForm', res.responseJSON)
    }).always(() => {
      $('#editOauthAppForm').removeClass("loading")
    })
  }
</script>
{{template "common/footer" .}}
{{ end }}