/* Override Semantic's style */
@media only screen and (min-width: 1200px) {
  .ui.container {
    max-width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
body{ 
  display:flex !important; 
  flex-direction:column !important; 
}
/* Additional style */
.clear-shadow-and-border {
  border: none !important;
  box-shadow: none !important;
}
.full-height{
  min-height: 100% !important;
  margin-bottom: -55px !important;
}
.navbar {
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
}
.navbar-bottom {
  border-top: 1px solid #e1e4e8 !important;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top:auto;
}
.login-form {
  max-width: 450px;
}
#editOauthApp {
  max-width: 450px;
}
#editProfile {
  max-width: 450px;
}