{{define "page/auth"}} {{template "common/header" .}}
<style type="text/css">
  .column {
    max-width: 450px;
  }
</style>
<div class="ui middle aligned center aligned grid full-height">
  <div class="column">
    <h2 class="ui image header">
      <img src="/upload/avatar/{{.data.Client.ClientID}}" class="image" />
      <div class="content">即将登录到 {{.data.Client.Name}}</div>
    </h2>
    <form class="ui large form" method="POST">
      <div class="ui stacked segment left aligned">
        {{range $k,$v := .data.Check }}
        <div class="inline field">
          <div class="ui slider checkbox">
            <input name="{{ $k }}" type="checkbox" {{if $v}} checked{{end}} tabindex="0" class="hidden" />
            <label>{{index $.data.Scopes $k}}</label>
          </div>
        </div>
        {{ end }}
        <div class="ui fluid large submit button">确认授权</div>
      </div>
    </form>
    <div class="ui message">不是您的账户？ <a id="switchUser">切换用户</a></div>
  </div>
</div>
<script>
  $(document).ready(() => {
    $(".ui.checkbox").checkbox()
    $(".ui.form").form()
    $("#switchUser").attr('href', '/logout?return_url=' + encodeURIComponent(window.location.pathname + window.location.search))
  })
</script>
{{template "common/footer" .}} {{ end }}