{{define "page/login"}}
{{template "common/header" .}}
<div class="ui middle aligned center aligned grid full-height">
    <div class="column login-form">
        <h2 class="ui image header">
            <img src="https://images.gitee.com/uploads/enterprise_logo/5301244449.png" class="image">
            <div class="content">
                用户登录
            </div>
        </h2>
        <form class="ui large form{{if or .data.errors.Username .data.errors.Password}} error{{end}}" method="POST">
            <div class="ui stacked segment">
                <div class="field{{if .data.errors.Username}} error{{end}}">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="用户名">
                    </div>
                </div>
                <div class="field{{if .data.errors.Password}} error{{end}}">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="ui fluid large submit button">登录</div>
            </div>

            <div class="ui error message">
                {{if or .data.errors.Username .data.errors.Password}}
                <ul class="list">
                    {{if .data.errors.Username}}<li>{{.data.errors.Username}}</li>{{end}}
                    {{if .data.errors.Password}}<li>{{.data.errors.Password}}</li>{{end}}
                </ul>
                {{end}}
            </div>

        </form>

        <div class="ui message">
            新用户？ <a id="signup">注册</a>
        </div>
    </div>
</div>
<script>
    $(document)
        .ready(function () {
            $('#signup').attr('href', '/signup' + $(location).attr('search'))
            $('.ui.form')
                .form({
                    fields: {
                        email: {
                            identifier: 'username',
                            rules: [{
                                type: 'empty',
                                prompt: '用户名不能为空'
                            },
                            {
                                type: 'minLength[2]',
                                prompt: '用户名长度最短 2 位'
                            },
                            {
                                type: 'maxLength[12]',
                                prompt: '用户名长度最长 12 位'
                            }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [{
                                type: 'empty',
                                prompt: '密码不能为空'
                            },
                            {
                                type: 'minLength[6]',
                                prompt: '密码最短 6 位'
                            },
                            {
                                type: 'maxLength[32]',
                                prompt: '密码最短 32 位'
                            }
                            ]
                        }
                    }
                });
        });
</script>
{{template "common/footer" .}}
{{end}}