{{define "page/login"}}
{{template "common/header" .}}
<div class="ui middle aligned center aligned grid full-height">
  <div class="column login-form">
    <h2 class="ui image header">
      <img src="/static/assets/favicon.png" class="image" />
      <div class="content">用户登录</div>
    </h2>
    <form class="ui large form{{if .data.errors}} error{{end}}" method="POST">
      <div class="ui stacked segment">
        <div class="field{{if .data.errors}}{{if index .data.errors "loginForm.用户名"}} error{{ end }}{{ end }}">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" autocomplete="username" placeholder="用户名" />
          </div>
        </div>
        <div class="field{{if .data.errors}}{{if index .data.errors "loginForm.密码"}} error{{ end }}{{ end }}">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" autocomplete="current-password" placeholder="密码" />
          </div>
        </div>
        <div class="field{{if .data.errors}}{{if index .data.errors "loginForm.人机验证"}} error{{ end }}{{ end }}">
          <div class="g-recaptcha" data-sitekey="6Lf1o4wUAAAAACxndMJn--Nghjw0jMWm8JLEKjbF"></div>
        </div>
        <div class="ui fluid large submit button">登录</div>
      </div>

      <div class="ui error message">
        {{if .data.errors}}
        <ul class="list">
          {{range $k,$v := .data.errors}}
          {{if $v}}<li>{{$v}}</li>{{end}}
          {{end}}
        </ul>
        {{ end }}
      </div>
    </form>
    <div class="ui message">新用户？ <a id="signup">注册</a></div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#signup").attr("href", "/signup" + $(location).attr("search"));
    $(".ui.form").form({
      fields: {
        username: {
          identifier: "username",
          rules: [
            {
              type: "empty",
              prompt: "用户名不能为空"
            },
            {
              type: "minLength[1]",
              prompt: "用户名长度最短 1 位"
            },
            {
              type: "maxLength[20]",
              prompt: "用户名长度最长 20 位"
            }
          ]
        },
        password: {
          identifier: "password",
          rules: [
            {
              type: "empty",
              prompt: "密码不能为空"
            },
            {
              type: "minLength[6]",
              prompt: "密码最短 6 位"
            },
            {
              type: "maxLength[32]",
              prompt: "密码最短 32 位"
            }
          ]
        }
      }
    });
  });
</script>
<script src='https://www.recaptcha.net/recaptcha/api.js'></script>
{{template "common/footer" .}}
{{ end }}